.nav-bar {
  display: flex;
  margin: auto;
}

.nav-categories {
  background: yellow;
  border-radius: 10px;
  margin: 10px;
}

.news-type {
  background: yellow;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: 2em;
}