.news-container {
  background: white;
  border-radius: 20px;
  /* display: flex; */
  margin: 0 auto auto auto;
  height: 600px;
  overflow: scroll;
  padding: 20px;
  width: 80%;
}

.news-section {
  /* display: flex; */
  width: 100%;
}

.search-box {
  display: flex;
  flex-direction: row;
  height: 24px;
}